In [0]:
import pandas as pd
import numpy as np
import glob
pd.set_option('display.max_columns',500)
pd.set_option('display.max_rows',500)


import warnings 
warnings.filterwarnings('ignore')

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
train = pd.read_csv('gdrive/My Drive/520_proj/preFinal/Final/CIS_520_PROJECT_DATA/TRAINING_DATA_26_11.csv')
test = pd.read_csv('gdrive/My Drive/520_proj/preFinal/Final/CIS_520_PROJECT_DATA/final_test_without_createDate.csv')
pubD = pd.read_csv('gdrive/My Drive/520_proj/preFinal/Final/CIS_520_PROJECT_DATA/articles_dates.csv')

In [0]:
# test = pd.read_csv('gdrive/My Drive/520_proj/final_test_without_createDate.csv')
# test.head(1)

,Unnamed: 0,commentID,articleID,depth,articleWordCount,replyCount,editorsSelection,createDate,userID,ratioUID,comment,reporterReply,userReply,word_count,ratio_comment_article,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,articleRelevance,Sentiment,recommendations
0,0,21747131.0,58c110947c459f247962e12a,1.0,2229.0,0.0,0,1.489072e+09,12816599.0,0.0,1,0,0,1029,27.060606,0.028413,0.0,0.003128,0.0,0.006175,0.000989,0.0,0.001293,0.000684,0.0,0.0,0.00033,0.000309,0.000441,0.0,0.0,0.02005,0.001022,0.0,0.038121,-0.00151,0.9838,0.0

In [0]:
tutch = pd.read_csv('gdrive/My Drive/520_proj/preFinal/Final/CIS_520_PROJECT_DATA/X_train_final.csv')
tutch.head()

,commentID,createDate,articleWordCount,replyCount,userIDRC,editorsSelection,ratio_comment_article,word_count,comment,reporterReply,userReply,articleRelevance,Sentiment
0,21059310.0,6632.0,1254.0,0.0,0.000000,0.0,592.000000,327.0,1.0,0.0,0.0,0.035309,0.4767
1,20991167.0,49157.0,1233.0,0.0,44.684211,0.0,12.523810,149.0,0.0,0.0,1.0,-0.071916,0.8176
2,21029387.0,52281.0,3637.0,0.0,33.400000,0.0,241.000000,197.0,1.0,0.0,0.0,-0.019555,-0.8568
3,21094261.0,147284.0,999.0,5.0,6.500000,1.0,14.571429,1426.0,1.0,0.0,0.0,0.016659,0.9696
4,21071133.0,28777.0,810.0,0.0,16.000000,0.0,15.800000,762.0,0.0,0.0,1.0,-0.002081,0.9913

In [0]:
train=pd.merge(train,tutch[['articleRelevance','Sentiment','commentID']], on='commentID', how='right').drop_duplicates(subset = ['commentID'])

In [0]:
tutch.drop_duplicates(subset = ['commentID']).shape, train.drop_duplicates(subset = ['commentID']).shape

((146685, 13), (146685, 37))

In [0]:
# train=train.fillna(0)
# test=test.fillna(0)

In [0]:
train=train.dropna()

In [0]:
train.isna().sum()

commentID                0
createDate               0
articleWordCount         0
depth                    0
recommendations          0
replyCount               0
userTitleRC              0
userIDRC                 0
editorsSelection         0
ratio_comment_article    0
word_count               0
comment                  0
reporterReply            0
userReply                0
0_LDA                    0
1_LDA                    0
2_LDA                    0
3_LDA                    0
4_LDA                    0
5_LDA                    0
6_LDA                    0
7_LDA                    0
8_LDA                    0
9_LDA                    0
10_LDA                   0
11_LDA                   0
12_LDA                   0
13_LDA                   0
14_LDA                   0
15_LDA                   0
16_LDA                   0
17_LDA                   0
18_LDA                   0
19_LDA                   0
articleID                0
articleRelevance         0
Sentiment                0
dtype: int64

In [0]:
Strain = pd.read_csv('gdrive/My Drive/520_proj/preFinal/Final/CIS_520_PROJECT_DATA/subSamplesTrain.csv')
Stest = pd.read_csv('gdrive/My Drive/520_proj/preFinal/Final/CIS_520_PROJECT_DATA/subSamplesTest.csv')
Strain.shape

(151200, 34)

In [0]:
Straint = Strain[['commentID','articleID','createDate']]
Stestt = Stest[['commentID','articleID','createDate']]
print(Straint.shape,Stest.shape)

(151200, 3) (50400, 34)

In [0]:
print(pubD.shape)
# pubD.
print(pubD.articleID.unique().shape)

(9289, 3)
(9281,)

In [0]:
Straint = pd.merge(Straint,pubD,on='articleID',how = 'left')
Stestt = Stestt.merge(pubD,on='articleID',how = 'left')
print(Straint.shape,Stest.shape)

(151201, 5) (50400, 34)

In [0]:
Straint=Straint.drop('Unnamed: 0',axis=1)
Stestt=Stestt.drop('Unnamed: 0',axis=1)

In [0]:
Straint['createDateN']=Straint['createDate']-Straint['pubDate']
Stestt['createDateN']=Stestt['createDate']-Stestt['pubDate']

In [0]:
test.head(1)

,Unnamed: 0,commentID,articleID,depth,articleWordCount,replyCount,editorsSelection,createDate,userID,ratioUID,comment,reporterReply,userReply,word_count,ratio_comment_article,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,articleRelevance,Sentiment,recommendations
0,0,21747131.0,58c110947c459f247962e12a,1.0,2229.0,0.0,0,1.489072e+09,12816599.0,0.0,1,0,0,1029,27.060606,0.028413,0.0,0.003128,0.0,0.006175,0.000989,0.0,0.001293,0.000684,0.0,0.0,0.00033,0.000309,0.000441,0.0,0.0,0.02005,0.001022,0.0,0.038121,-0.00151,0.9838,0.0

In [0]:
train2 = pd.merge(train,Straint[['commentID','createDateN']], on ='commentID',how = 'left')
test2 = pd.merge(test,Stestt[['commentID','createDateN']], on ='commentID',how = 'left')
train2.shape

(143849, 38)

In [0]:
test2.head()

,Unnamed: 0,commentID,articleID,depth,articleWordCount,replyCount,editorsSelection,createDate,userID,ratioUID,comment,reporterReply,userReply,word_count,ratio_comment_article,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,articleRelevance,Sentiment,recommendations,createDateN
0,0,21747131.0,58c110947c459f247962e12a,1.0,2229.0,0.0,0,1.489072e+09,12816599.0,0.000000,1,0,0,1029,27.060606,0.028413,0.000000,0.003128,0.000000,0.006175,0.000989,0.000000,0.001293,0.000684,0.000000,0.000000,0.000330,0.000309,0.000441,0.000000,0.000000,0.020050,0.001022,0.0,0.038121,-0.001510,0.9838,0.0,23824.0
1,1,21783288.0,58c6487b7c459f247a912fb9,1.0,821.0,1.0,0,1.489404e+09,63823446.0,12.000000,1,0,0,192,63.229508,0.009718,0.000166,0.003149,0.000506,0.003572,0.011640,0.000000,0.000630,0.005023,0.000217,0.000473,0.005925,0.001051,0.000000,0.000733,0.001252,0.003589,0.000558,0.0,0.019635,0.046909,0.0772,2.0,14193.0
2,2,21926899.0,58d5a8467c459f24986d651e,1.0,1280.0,0.0,0,1.490447e+09,1258177.0,16.750000,1,0,0,972,47.690141,0.028698,0.000000,0.011525,0.000475,0.000000,0.006643,0.000000,0.000227,0.003541,0.000000,0.000000,0.000000,0.000000,0.000000,0.001941,0.000000,0.003229,0.000000,0.0,0.062222,0.037570,0.8859,13.0,49834.0
3,3,21754576.0,58c177467c459f247962e288,2.0,1156.0,0.0,0,1.489110e+09,69116055.0,6.000000,0,0,1,219,25.200000,0.001371,0.000236,0.003169,0.000271,0.014148,0.001399,0.000000,0.001313,0.001722,0.000000,0.003034,0.000607,0.012205,0.000000,0.000000,0.002161,0.000837,0.000000,0.0,0.027738,0.035437,0.4019,2.0,35761.0
4,4,21958372.0,58d955b57c459f24986d6cb6,1.0,1164.0,0.0,0,1.490720e+09,64672620.0,13.074074,1,0,0,272,21.000000,0.001967,0.000000,0.004421,0.003052,0.001543,0.006177,0.001188,0.000165,0.002419,0.000239,0.000190,0.000157,0.005606,0.000000,0.000465,0.001263,0.000601,0.000415,0.0,0.010120,0.019401,0.2617,16.0,82169.0

In [0]:
train2.drop_duplicates().isna().sum()

commentID                0
createDate               0
articleWordCount         0
depth                    0
recommendations          0
replyCount               0
userTitleRC              0
userIDRC                 0
editorsSelection         0
ratio_comment_article    0
word_count               0
comment                  0
reporterReply            0
userReply                0
0_LDA                    0
1_LDA                    0
2_LDA                    0
3_LDA                    0
4_LDA                    0
5_LDA                    0
6_LDA                    0
7_LDA                    0
8_LDA                    0
9_LDA                    0
10_LDA                   0
11_LDA                   0
12_LDA                   0
13_LDA                   0
14_LDA                   0
15_LDA                   0
16_LDA                   0
17_LDA                   0
18_LDA                   0
19_LDA                   0
articleID                0
articleRelevance         0
Sentiment                0
createDateN              0
dtype: int64

In [0]:
train2['createDate']=train2['createDateN']
test2['createDate']=test2['createDateN']
train2 = train2.drop('createDateN',axis=1)
test2 = test2.drop('createDateN',axis=1)

In [0]:
train2['createDate'][train2['createDate']>1000000]=1000000
test2['createDate'][test2['createDate']>1000000]=1000000

In [0]:
# df = df[np.isfinite(df['EPS'])]

In [0]:
train2.shape

(143849, 37)

In [0]:
train2.isna().sum()

commentID                0
createDate               0
articleWordCount         0
depth                    0
recommendations          0
replyCount               0
userTitleRC              0
userIDRC                 0
editorsSelection         0
ratio_comment_article    0
word_count               0
comment                  0
reporterReply            0
userReply                0
0_LDA                    0
1_LDA                    0
2_LDA                    0
3_LDA                    0
4_LDA                    0
5_LDA                    0
6_LDA                    0
7_LDA                    0
8_LDA                    0
9_LDA                    0
10_LDA                   0
11_LDA                   0
12_LDA                   0
13_LDA                   0
14_LDA                   0
15_LDA                   0
16_LDA                   0
17_LDA                   0
18_LDA                   0
19_LDA                   0
articleID                0
articleRelevance         0
Sentiment                0
dtype: int64

In [0]:
test2=test2.fillna(0)

In [0]:
test2.drop_duplicates().isna().sum()

Unnamed: 0               0
commentID                0
articleID                0
depth                    0
articleWordCount         0
replyCount               0
editorsSelection         0
createDate               0
userID                   0
ratioUID                 0
comment                  0
reporterReply            0
userReply                0
word_count               0
ratio_comment_article    0
0                        0
1                        0
2                        0
3                        0
4                        0
5                        0
6                        0
7                        0
8                        0
9                        0
10                       0
11                       0
12                       0
13                       0
14                       0
15                       0
16                       0
17                       0
18                       0
19                       0
articleRelevance         0
Sentiment                0
recommendations          0
dtype: int64

In [0]:
train2.shape

(143849, 37)

In [0]:
train2=train2.drop(['userTitleRC'],axis=1,errors='ignore')
test2=test2.drop(['userTitleRC'],axis=1,errors='ignore')

In [0]:
train2.head(1)

,commentID,createDate,articleWordCount,depth,recommendations,replyCount,userIDRC,editorsSelection,ratio_comment_article,word_count,comment,reporterReply,userReply,0_LDA,1_LDA,2_LDA,3_LDA,4_LDA,5_LDA,6_LDA,7_LDA,8_LDA,9_LDA,10_LDA,11_LDA,12_LDA,13_LDA,14_LDA,15_LDA,16_LDA,17_LDA,18_LDA,19_LDA,articleID,articleRelevance,Sentiment
0,21059310.0,9070.0,1254.0,1.0,17.0,0.0,0.0,0.0,592.0,327.0,1.0,0.0,0.0,0.015234,0.0,0.001474,0.002076,0.000541,0.012121,0.006296,0.0,0.00051,0.0,0.0,0.000207,0.108492,0.0,0.0004,0.000469,0.00032,0.000157,0.0,0.001834,587575d295d0e0392607a033,0.035309,0.4767

In [0]:
test2.head(1)

,Unnamed: 0,commentID,articleID,depth,articleWordCount,replyCount,editorsSelection,createDate,userID,ratioUID,comment,reporterReply,userReply,word_count,ratio_comment_article,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,articleRelevance,Sentiment,recommendations
0,0,21747131.0,58c110947c459f247962e12a,1.0,2229.0,0.0,0,23824.0,12816599.0,0.0,1,0,0,1029,27.060606,0.028413,0.0,0.003128,0.0,0.006175,0.000989,0.0,0.001293,0.000684,0.0,0.0,0.00033,0.000309,0.000441,0.0,0.0,0.02005,0.001022,0.0,0.038121,-0.00151,0.9838,0.0

In [0]:
train2.to_csv("gdrive/My Drive/520_proj/preFinal/Final/CIS_520_PROJECT_DATA/TRAIN_30_11.csv",index=False)
test2.to_csv("gdrive/My Drive/520_proj/preFinal/Final/CIS_520_PROJECT_DATA/TEST_30_11.csv",index=False)